<div class="container">
  <div class="small-container">
<h1>Add a booking for <%= @driver.name %></h1>
<%= simple_form_for [@driver, @booking] do |f| %>
  <%= f.button :submit, class: "btn-warning create-booking" %>
<% end %>
</div>
</div>
