<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1><strong>Congratulations</strong>, you have successfully booked <%= @booking.driver.name %> as your driver.</h1>
        <h3> Your car will be driven <strong> wherever </strong> safely. </h3>
    </div>
  </div>
</div>
